.message {
  border-width: 4px;
  border-style: solid;
  font-size: 1.25rem;
  padding: 16px;
  margin-bottom: 8px;
  border-radius: 8px;
  background-color: lightgray;
}

.success {
  border-color: green;
  color: green;
}

.error {
  border-color: darkred;
  color: darkred;
}
